.modalFooter {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background: #f8f8f8;
}

.failedModalHeader {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #CC0000;
  color: white;
}

.successModalHeader {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #007E33;
  color: white;
}

.warningModalHeader {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #ffc107;
  color: black;
}

.modalFooter button {
  margin: 0 6px 0 6px;
}

.searchinput {
  border-radius: 4px;
  padding: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
  height: 34px;
  color: #555;
}
